.imagen_header{
    border-bottom-color: black ;
    
}
.bienvenida{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
ion-text{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
.inputs{
    position: center;
    
}
h3{
    color: blue;
}
ion-label{
    color: blue;
}
ion-icon{
    position: absolute;
    top: 37px;
    z-index: 2;
    font-size: 1.2rem;
    right: 5px;
}

.login_body{
    
    width: 100%;
    
}
p{
    padding-top: 1;
    padding-bottom: 0;
    margin-bottom: 0;
}

.boton{
    padding-bottom: 0;
    margin-bottom: 0;
}